.book {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

  .book-body {
    flex: 1 1 auto;
    padding: 1.25rem;

    h5 {
      margin: 0;
    }

    .book-title {
      margin-bottom: .75rem;
      font-size: 1.25rem
    }

    .book-text.author {
      margin: 0;
    }
  }

  .book-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;

    i {
      font-size: 0.9em;
      margin-right: 8px;
    }

    .book-link.edit {
      color: #64968c;
      text-decoration: none;
    }

    .book-link.delete {
      color: #e63508;
      text-decoration: none;
    }

    .book-link:hover {
      text-decoration: underline;
    }

    .book-actions {
      display: flex;
      gap: .5rem;
    }
  }
}
